.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.nav-text {
  margin-left: 8px;
}

.mat-expansion-panel {
  box-shadow: none;
  background: transparent;
}

.bottom-toolbar {
  position: fixed;
  bottom: 0;
  width: 250px;
  justify-content: space-around;
}

.flag-icon {
  width: 20px;
  margin-right: 8px;
}

mat-nav-list {
  padding-bottom: 64px; // Space for bottom toolbar
}

.mat-icon {
  margin-right: 8px;
}
