<app-book-search [query]="bookStore.query()" [error]="bookStore.error()" (search)="bookStore.updateQuery($event)">
</app-book-search>
@if (bookStore.error()) {
  <div class="bg-red-300 rounded-xl overflow-hidden w-fit p-4">
    <p class="motion-preset-typewriter dark:text-white text-gray-900">
      {{ bookStore.error() }}
    </p>
  </div>
}
<ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 min-h-screen">
  @if (bookStore.isLoading()) {
    <li><p class="motion-preset-typewriter dark:text-white text-gray-900">Loading...</p></li>
  }
  @for (book of bookStore.latestBooks(); track book.id) {
    <li>
      <app-book-card [book]="book">
        <div class="-mt-px flex divide-x divide-gray-200">
          <div class="flex w-0 flex-1">
            <a
              [routerLink]="['/books', book.id]"
              class="relative -mr-px inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-bl-lg border border-transparent py-4 text-sm font-bold text-neutral-n500 hover:text-primary-p500 overflow-hidden"
            >
              <!-- <ds-icon [name]="icons.File" [size]="20" [color]="iconColors.Primary400"></ds-icon> -->
              {{ 'BOOKS.COLLECTION.SHOW_DETAILS' | translate }}
            </a>
          </div>
        </div>
      </app-book-card>
    </li>
  }

  @if (bookStore.latestBooks().length === 0 && !bookStore.isLoading() && !bookStore.error()) {
    <li><p class="motion-preset-typewriter dark:text-white text-gray-900">There are no items.</p></li>
  }
</ul>
