// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use 'sass:map';
@use '@angular/material' as mat;
// @use '../theme-colors' as m3-theme;

// styles.scss
@tailwind base;
@tailwind components;
@tailwind utilities;

$_palettes: (
  primary: (
    0: #000000,
    10: #121d26,
    20: #27313c,
    25: #323c47,
    30: #3d4853,
    35: #49545f,
    40: #555f6b,
    50: #6d7884,
    60: #87929e,
    70: #a1acb9,
    80: #bdc8d5,
    90: #d9e4f1,
    95: #e7f2ff,
    98: #f7f9ff,
    99: #fcfcff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #181c20,
    20: #2d3135,
    25: #383c40,
    30: #43474c,
    35: #4f5358,
    40: #5b5f64,
    50: #74777d,
    60: #8d9196,
    70: #a8abb1,
    80: #c3c7cc,
    90: #e0e2e8,
    95: #eef1f7,
    98: #f7f9ff,
    99: #fcfcff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #221825,
    20: #382d3a,
    25: #433746,
    30: #4f4351,
    35: #5b4e5d,
    40: #685a6a,
    50: #817283,
    60: #9b8c9d,
    70: #b7a6b8,
    80: #d3c1d3,
    90: #efddf0,
    95: #feebfe,
    98: #fff7fb,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1b1b1c,
    20: #303031,
    25: #3b3b3c,
    30: #474747,
    35: #535253,
    40: #5f5e5f,
    50: #787777,
    60: #929091,
    70: #acabab,
    80: #c8c6c7,
    90: #e4e2e2,
    95: #f3f0f1,
    98: #fbf9f9,
    99: #fefbfc,
    100: #ffffff,
    4: #0e0e0f,
    6: #131314,
    12: #1f2020,
    17: #2a2a2b,
    22: #353535,
    24: #39393a,
    87: #dcd9da,
    92: #eae7e8,
    94: #f0edee,
    96: #f6f3f3,
  ),
  neutral-variant: (
    0: #000000,
    10: #191c20,
    20: #2d3135,
    25: #383c40,
    30: #44474b,
    35: #505357,
    40: #5c5f63,
    50: #74777c,
    60: #8e9195,
    70: #a9abb0,
    80: #c4c6cb,
    90: #e0e2e7,
    95: #eff1f6,
    98: #f8f9fe,
    99: #fcfcff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $primary-palette,
      tertiary: $tertiary-palette,
      use-system-variables: true,
    ),
    density: (
      scale: -1,
    ),
  )
);

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: $primary-palette,
      tertiary: $tertiary-palette,
      use-system-variables: true,
    ),
    density: (
      scale: 0,
    ),
  )
);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;

  @include mat.all-component-themes($light-theme);

  .dark {
    @include mat.all-component-colors($dark-theme);
  }
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
