name: CI Pipeline

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  setup:
    name: Setup Environment
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

  lint:
    name: Lint Code
    runs-on: ubuntu-latest
    needs: setup

    steps:
      - name: Use Setup Job
        uses: ./.github/actions/setup

      - name: Lint and Format
        run: |
          npm run lint:format
          npm run lint:fix

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - name: Use Setup Job
        uses: ./.github/actions/setup

      - name: Run Unit Tests
        run: npm run test

  build:
    name: Build Application
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Use Setup Job
        uses: ./.github/actions/setup

      - name: Build Project
        run: npm run build
